/*color scheme*/
:root{
    --top-color: rgb(90, 144, 244); 
    --background-color: rgb(241, 241, 218);
    --text-color: black;
    
  }

  main {
    font-size: 18px;
    justify-content: left;
    flex-direction: column;
    min-height: 200px;
    justify-content: flex-start;
    
  }
  
  /*header or title*/
  h1 {
    font-size: 40px;
    text-align: justify;
       
  }
  
  /*about me & experience sections title*/
  h2 {
    font-size: 1.5rem;
    margin: 2% 0;
    text-align: right;
    margin-left: 20px; 

  }
  
  /*line between header/title & nav bar?*/
  header {
    padding: 40px;
    justify-content: flex-start;
    background-color: var(--top-color);
    
     
  }
  
  /*nav bar*/
  nav {
    display: flexbox;
    background-color: rgb(244, 244, 92);
    text-align: right;

  }

  /*nav bar - ROW 1*/
    .nav-row-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-end;
    align-content: space-around;
    

    }

    /*nav bar - Row 2*/
   .nav-row-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-end;
    
}
  
  /*boxes around each nav bar selection**********************/
  nav a {
    color: black;
    padding: 20px;
    text-decoration: none;
    border-radius: 30px;
  }
  
  /*HIGHLIGHT EFFECT WHEN NAV BAR SELECTION IS HOVER*******/
  nav a:hover {
    background-color: rgb(245, 217, 245)

  }
  
  /*DIVISION BETWEEN TITLE/NAVBAR --AND-- MAIN CONTENT*******/
  main {
    display: flex;
    flex-wrap: wrap;
 
  }

  /***********ABOUT ME SECTION********************************/
  .about-me-container {
    display: flex;
    background-color: var(--background-color);
    margin: 2% auto; 
  }

  .about-me-container div {
    background-color: var(--background-color);
    margin: 2% auto; 
    flex-basis: 85%; 
    text-align: left; 
    border-left: 2px solid orange; 
  }

  .about-me-container span, .about-me-container ul {
    display:block; 
    margin-top: 10px; 
    margin-bottom: 10px; 
    margin-left: 10px;
  }

  .about-me-container h2 {
    text-align: right;
    margin-left: 20px; 
  }

/***************WORK EXPERIENCE SECTION*********************/  

.parent {
  border: 1px solid black; 
  margin: 1rem; 
  padding: 2 rem 2 rem; 
  display: flex;
  justify-content: flex-end;
 
}

.child {
  border: 1px solid black; 
  display: inline-block; 
  padding: 10px;
  min-width: 50%; 
  flex-direction: column; 
  justify-content: space-evenly; 
  flex-wrap: wrap;

}
.child-1 {
  background-color: #F2A74B;
  min-width: 100%; 
}
.child-2 {
  background-color: #F2C84B;
  min-width: 50%; 
  justify-content: flex-end;
}
.child-3 {
  background-color: #54ACBF;
  min-width: 50%; 
  justify-content: flex-end;
}
.child-4 {
  background-color: #3B668C;
  min-width: 50%; 
  justify-content: flex-end;
}
.child-5 {
  background-color: #8C1127;
  min-width: 50%; 
  justify-content: flex-end;
}



/*FOOTER****************************************************/
  footer {
    width: 100%;
    bottom: 0;
    padding: 20px;
    text-align: center;
    background: #13293d;
    color: #fff;
    margin-top: auto;

}

/*ADDITIONAL INFO*********************************************/  
  
  @media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  }
  