/*color scheme*/
:root{
    --top-color: rgb(90, 144, 244); 
    --background-color: rgb(241, 241, 218);
    --text-color: black;
    
  }

  main {
    font-size: 18px;
    justify-content: left;
    flex-direction: column;
    min-height: 200px;
    justify-content: flex-start;
    
  }
  
  /*header or title*/
  h1 {
    font-size: 40px;
    text-align: justify;
       
  }
  
  /*about me & experience sections title*/
  h2 {
    font-size: 1.5rem;
    margin: 2% 0;
    text-align: right;
    margin-left: 20px; 

  }
  
  /*line between header/title & nav bar?*/
  header {
    padding: 40px;
    justify-content: flex-start;
    background-color: var(--top-color);
    
     
  }
  
  /*nav bar*/
  nav {
    display: flexbox;
    background-color: rgb(244, 244, 92);
    text-align: right;

  }

  /*nav bar - ROW 1*/
    .nav-row-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-end;
    align-content: space-around;
    

    }

    /*nav bar - Row 2*/
   .nav-row-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-end;
    
}
  
  /*boxes around each nav bar selection**********************/
  nav a {
    color: black;
    padding: 20px;
    text-decoration: none;
    border-radius: 30px;
  }
  
  /*HIGHLIGHT EFFECT WHEN NAV BAR SELECTION IS HOVER*******/
  nav a:hover {
    background-color: rgb(245, 217, 245)

  }
  
  /*DIVISION BETWEEN TITLE/NAVBAR --AND-- MAIN CONTENT*******/
  main {
    display: flex;
    flex-wrap: wrap;
 
  }

  /***********ABOUT ME SECTION********************************/
  .about-me-container {
    display: flex;
    background-color: var(--background-color);
    margin: 2% auto; 
  }

  .about-me-container div {
    background-color: var(--background-color);
    margin: 2% auto; 
    flex-basis: 85%; 
    text-align: left; 
    border-left: 2px solid orange; 
  }

  .about-me-container span, .about-me-container ul {
    display:block; 
    margin-top: 10px; 
    margin-bottom: 10px; 
    margin-left: 10px;
  }

  .about-me-container h2 {
    text-align: right;
    margin-left: 20px; 
  }

/***************WORK EXPERIENCE SECTION*********************/  


/*top experience box only, width of screen*/
.experience-boxes {
    flex: 100%; 
    background-color: var(--background-color); 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;         
}

/*top experience box only, refactor+first assign+padding!!!! box only*/
.experience-boxes div {
    background-color: var(--background-color);
    margin: 2% auto; 
    flex-basis: 85%;
    text-align: left; 
    border-left: solid orange;
    margin-left: 10px;
    

}

/*top exp box only, refactor+first assign  NO PADDING box only*/
.workbox-main {
    border-style: solid;
    border-width: 5px;
    flex: 100%;
    box-shadow: 10px 10px 5px #aaaaaa;
    margin: 20px;
    }

/*other exp boxes, NO PADDING, box only*/
.workbox-small {
    border-style: solid;
    border-width: 5px;
    flex: 0 0 300px;
    box-shadow: 10px 10px 5px #aaaaaa;
    margin: 20px;
    border-radius: 5px;
    flex-flow: column wrap;
}

/*exp box main + small = smaller text box, inside larger exp box*/
.workbox-main p, .workbox-small p {
    text-align: left;
    border-style: solid; 
    border-width: 1px;  
    margin-bottom: 20px;
    background-color: tan;
    display: block; 
    margin-top: 10 px; 
    margin-bottom: 10 px; 
    margin-left: 10px;
  
}

.experience-boxes img {
    width: 100%;
   
  }
  


/*FOOTER****************************************************/
  footer {
    width: 100%;
    bottom: 0;
    padding: 20px;
    text-align: center;
    background: #13293d;
    color: #fff;
    margin-top: auto;

/*ADDITIONAL INFO*********************************************/  
  
  @media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  }
  