/*color scheme*/
:root{
    --top-color: rgb(182, 207, 247); 
    --background-color: rgb(241, 241, 218);
    --text-color: black;
      
  }

  body {
    font-family: "Ink Free", Tahoma, sans-serif;
  }

  main {
    font-size: 18px;
    justify-content: left;
    flex-direction: column;
    min-height: 200px;
    justify-content: flex-start;
    
  }
  
  /*header or title*/
  h1 {
    font-size: 40px;
    text-align: justify;
    width: 100%; 
    height: 60px; 
          
  }
  
  /*about me & experience sections title*/
  h2 {
    font-size: 1.5rem;
    margin: 2% 0;
    text-align: right;
    margin-left: 20px;
  }
  
  h4 {
    text-decoration: underline;
  }
  /*line between header/title & nav bar?*/
  header {
    padding: 40px;
    justify-content: flex-start;
    background-color: var(--top-color);
    
     
  }
  
  /*nav bar*/
  nav {
    display: flexbox;
    background-color: rgb(244, 244, 92);
    text-align: right;

  }

  /*nav bar - ROW 1*/
    .nav-row-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-end;
    align-content: space-around;
    
    

    }

    /*nav bar - Row 2*/
   .nav-row-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-end;
    
}

.headerpic {
  display: flex;
  width: 100%; 
  height: 100px; 
  opacity: 0.5;  
}
  
  /*boxes around each nav bar selection**********************/
  nav a {
    color: black;
    padding: 20px;
    text-decoration: none;
    border-radius: 30px;
  }
  
  /*HIGHLIGHT EFFECT WHEN NAV BAR SELECTION IS HOVER*******/
  nav a:hover {
    background-color: rgb(245, 217, 245)

  }
  
  /*DIVISION BETWEEN TITLE/NAVBAR --AND-- MAIN CONTENT*******/
  main {
    display: flex;
    flex-wrap: wrap;
 
  }

/************new MAIN SECTION****************/

body {
  background-color: var(--background-color);
  padding: 10px;
  margin: 0;
}

.parent1 {
  background-color: green;
  margin: 2px; 
  padding: 20px; 
  height: auto;
  display: flex; 
  justify-content: space-around;
  align-content: flex-start; 
   
}

.parent2 {
  background-color: red;
  margin: 2px; 
  padding: 20px; 
  height: auto;
  display: flex; 
  justify-content: space-around;
  align-content: flex-start; 
}

.parent3 {
  background-color: purple;
  margin: 2px; 
  padding: 20px; 
  height: auto;
  display: flex; 

  justify-content: space-around;
  align-content: flex-start; 
}

.P1div1 {
  background-color: aqua;
  margin: 5px; 
  width: 22%; 
}  


.P1div2 {
  background-color: whitesmoke;
  margin: 5px; 
  width: 74%; 
  justify-content: space-between; 
  align-content: flex-end; 
}  

.P2div1{
 display: flex; 
 background-color: greenyellow; 
 margin: 5px; 
 font-size: 30px; 
 width: 25%; 
 align-items: center; 
 flex-direction: column;

}


.P2div2 {
  display: flex; 
  background-color:beige;
  margin: 5px; 
  width: 300px; 
  font-size: 30px; 
  width: 75%; 
  align-items: center; 
  flex-direction: row; 

}

.P2divright {
  width: 75%; 
  
}

.P2div3 {
  background-color: goldenrod; 
  margin: 5px; 
  width: 25%; 

  }

.P2div4 {
  background-color: blue;
  margin: 5px; 
  width: 25%; 

}

.P3div1{
  background-color: yellow;
  margin: 5px; 
  width: 20%; 
}

.P3div2 {
  background-color: pink;
  width: 75%; 
  
}

/* .P3div1 ul {
  display: flex; 
} */
  
/*CONTACT SECTION: Data, info, links*/
ul {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  
}

.linkedin:hover::after {
  content: attr(data-tooltip); 
}

  




  /****previous  ABOUT ME SECTION*/
  /* .about-me-container {
    display: flex;
    background-color: var(--background-color);
    margin: 2% auto; 
  }

  .about-me-container div {
    background-color: var(--background-color);
    margin: 2% auto; 
    flex-basis: 85%; 
    text-align: left; 
    border-left: 2px solid orange; 
  }

  .about-me-container span, .about-me-container ul {
    display:block; 
    margin-top: 10px; 
    margin-bottom: 10px; 
    margin-left: 10px;
  }

  .about-me-container h2 {
    text-align: right;
    margin-left: 20px; 
  } */

/* *previous work EXPERIENCE SECTION********************  

#work {
  font-family: Ariel, Helvetics, sans-serif; 
  display: block; 
  

}

#work h2 {
  background-color: var(--background-color);
  margin: 0%; 
  /* flex-basis: 85%  */
  /* text-align: left; 
  border-right: 2px solid orange; 
}

.flex-container {
  display: flex; 
  background-color: lightslategrey; 
  justify-content: flex-end; 
  justify-content: space-between;
  align-items: center; 
  flex-wrap: wrap; 
}

.item {
  height: 100px; 
  background:var(--top-color); 
  color: solid black;  
  margin: 10px; 
  border: 1px solid black; 
  display: flex; 
  justify-content: left; 
}

.item:nth-of-type(1) {
  flex-basis: 100%;
  flex-direction: row;
  
}

.item.item:nth-of-type(2) {
  flex: 1 2 35%; 
}

.item.item:nth-of-type(3) {
   flex: 1 2 35%; 
}

.item.item:nth-of-type(4), .item.item:nth-of-type(5) {
  flex: 1 2 35%; 
  
}
 */



/*FOOTER****************************************************/
  footer {
    width: 100%;
    bottom: 0;
    padding: 20px;
    text-align: center;
    background: #13293d;
    color: #fff;
    margin-top: auto;

}

/*ADDITIONAL INFO*********************************************/  
  
  @media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  }
  