/*PORTFOLIO*/
:root {
  --top-color: rgb(212, 214, 217);
  --background-color: black;
  --text-color: black;
}

body {
  font-family: "Ink Free", Tahoma, sans-serif;
  border-style: ridge
}

main {
  font-size: 18px;
  justify-content: left;
  flex-direction: column;
  min-height: 200px;
  justify-content: flex-start;
}

/********************Title, large image and navbar************************/
h1 {
  font-size: 60px;
  text-align: justify;
  width: 100%;
  height: 60px;
}

h4 {
  text-decoration: underline;
}

/*green line*/
header {
  padding: 40px;
  justify-content: flex-start;
  background-color: var(--top-color);
  outline: 4px solid rgb(37, 99, 37);
  background rgba (1, 151, 0, 0.1);
}

/******Container holding the image and overlay text*************/
.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Top right text -overlay on image */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;

}
/*Bottom right text - overlay on image*/
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}


/* nav bar detail*/
nav {
  display: flexbox;
  font-size: 20px;
  text-align: right;
}

nav a {
  color: white;
  font-weight: bolder;
  font-shadow: 2px 2px black;
  padding: 20px;
  border-radius: 30px;
}


/*HIGHLIGHT EFFECT WHEN NAV BAR SELECTION IS HOVER*******/
nav a:hover {
  color: black;
  background-color: rgb(250, 250, 140);
}

/***********MAIN SECTION: ABOUT ME + WORK ********************************/

body {
  background-color: var(--background-color);
  padding: 10px;
  margin: 0;
}

.parent1, .parent3 {
  background-color: var(--top-color); 
  margin: 2px;
  padding: 20px;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-content: flex-start;

}

/* .projects-container {
display: flex; 
flex-wrap: wrap; 


} */

  /* background-color: red;
  margin: 2px;
  padding: 20px;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-content: flex-start; */
/* } */

.P1div1, .P3div1 {
  margin: 2px;
  padding-right: 5px; 
  width: 22%;
  text-align: right;
  font-size: 40px;
  background: border-box; 
  border-right: solid black;  
}

.P1div2 {
  background-color: var(--top-color);
  margin: 5px;
  width: 74%;
  justify-content: space-between;
  align-content: flex-end;
  font-weight:600; 
}

/* .work {
  display: flex; 
}

.project {
  max-width: 150px; 
  max-height: 150px; 
}

.projects-container {
  display:flex; 
  flex-wrap:wrap; 
  background-color: var(--top-color); 
  margin: 2px;
  padding: 20px;
  height: auto;
  justify-content: space-around;
  align-content: flex-start;
} */



.P2div2, .P2div3, .P2div4 {
  display: flex;
  background-color: beige;
  margin: 5px;
  width: 300px;
  font-size: 30px;
  width: 75%;
  align-items: center;
  flex-direction: row;
  border: 1px black;

}


.P2div3 {
  background-color: goldenrod;
  margin: 5px;
  width: 25%;

}

.P2div4 {
  background-color: blue;
  margin: 5px;
  width: 25%;

} 

/******************CONTACT SECTION*********************************/
.P3div2 {
  font-weight: 400; 
  padding: 18px; 
  width: 75%;
  font-size: 25px; 

}

ul {
  display: flex;
  justify-content: space-around;
  cursor: pointer;

}

.linkedin:hover::after {
  content: attr(data-tooltip);
}

.linkedin:hover {
  color: black;
  background-color: rgb(250, 250, 140);
  border-radius: 30px;
}


/*FOOTER****************************************************/
footer {
  width: 100%;
  bottom: 0;
  padding: 20px;
  text-align: center;
  background: #13293d;
  color: #fff;
  margin-top: auto;

}

/*ADDITIONAL INFO*********************************************/

@media screen and (max-width: 768px) {

  main,
  nav {
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {

  main,
  nav {
    flex-direction: column;
  }
}